@font-face{
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body{
	font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#header{
	color: black;
	font-style: normal;
	font-size: 150px;
	text-align: center;
}

.photo{
	color: green;
	padding: 50px;
	margin: 10px;
	font-size: 50px;
}

.midtitle{
	color: green;
	font-size: 50px;
	padding: 10px 50px;
}

.introduce{
	color: white;
	padding: 50px;
	margin: 10px 50px;
	background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20221004/pngtree-bamboo-background-with-space-for-text-image_1466885.jpg);
	text-align: center;


}

footer{
	padding: 50px;
	text-align: center;
}